.citiesBar {
  background-color: var(--color-surface);
  padding: 15px;
  border-radius: var(--radius-main);
  box-shadow: var(--shadow-card);
  width: 100%;
}
.citiesBarTitle {
  font-size: var(--h3-size-mob);
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}
.citiesBarTitle svg {
  width: 20px;
  height: 20px;
}
.citiesBarContent {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.citiesBarFilters {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.citiesBarSortTitle {
  color: var(--color-secondary);
  text-align: start;
  margin-bottom: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 16px;
}
.citiesBarClearBtn {
  width: 100%;
  background-color: var(--color-surface);
  padding: 12px 26px;
  text-align: start;
  font-size: var(--text-big);
  color: rgb(218, 81, 81);
  border: 0.5px solid rgb(218, 81, 81);
  border-radius: 12px;
  transition: all 250ms;
}
.citiesBarClearBtn:hover {
  background-color: #ffdede;
  color: rgb(212, 57, 57);
  border: 0.5px solid rgb(212, 57, 57);
}

/* ================================ */
@media screen and (min-width: 768px) {
  .citiesBar {
    padding: 20px;
  }
  .citiesBarTitle {
    font-size: var(--h3-size-tab);

    gap: 15px;
    margin-bottom: 20px;
  }
  .citiesBarTitle svg {
    width: 25px;
    height: 25px;
  }
  .citiesBarContent {
    gap: 20px;
  }
  .citiesBarFilters {
    gap: 18px;
  }
  .citiesBarSortTitle {
    margin-bottom: 15px;
    font-size: 18px;
  }
  .citiesBarClearBtn {
    width: 100%;
    padding: 14px 28px;
    font-size: var(--text-big);
  }
}
@media screen and (min-width: 1280px) {
  .citiesBar {
    padding: 20px;

    max-width: 450px;
    width: 450px;
  }
  .citiesBarTitle {
    font-size: var(--h3-size-desk);

    gap: 18px;
    margin-bottom: 25px;
  }
  .citiesBarTitle svg {
    width: 30px;
    height: 30px;
  }
  .citiesBarContent {
    gap: 25px;
  }
  .citiesBarFilters {
    gap: 20px;
  }
  .citiesBarSortTitle {
    margin-bottom: 18px;

    font-size: 18px;
  }
  .citiesBarClearBtn {
    padding: 14px 34px;
  }
}
/* ================================ */
