.searchCityForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  width: 100%;
}
.searchCityLabel {
  position: relative;
  width: 100%;
}
.searchCityInput {
  font-size: 16px;
  color: var(--color-secondary);
  background-color: var(--color-surface);
  border: 0.5px solid var(--color-border);
  padding: 12px 22px;
  border-radius: 12px;
  width: 100%;
  transition: all 250ms;
}
.searchCityInput:hover,
.searchCityInput:focus {
  border: 0.5px solid var(--color-accent);
}
.searchCityError {
  position: absolute;
  font-size: 14px;
  top: 45px;
  left: 0;
  color: red;
}
.searchCityBtn {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  color: var(--color-surface);
  background-color: var(--color-primary);
  padding: 12px 22px;
  border-radius: 12px;
  align-self: start;
  font-weight: 600;
  transition: all 250ms;
}
.searchCityBtn:hover {
  color: var(--color-accent);
  background-color: #ebedff;
}
.searchCityBtn svg {
  width: 20px;
  height: 20px;
  font-weight: 600;
  stroke: var(--color-surface);
  fill: var(--color-surface);
  transition: all 250ms;
}
.searchCityBtn:hover svg {
  stroke: var(--color-accent);
  fill: var(--color-accent);
}

/* ================================ */
@media screen and (min-width: 768px) {
  .searchCityForm {
    flex-direction: row;
  }

  .searchCityInput {
    font-size: 18px;
    padding: 14px 24px;
  }
  .searchCityError {
    top: 55px;
  }
  .searchCityBtn {
    gap: 10px;
    font-size: 18px;
    padding: 14px 24px;
  }
  .searchCityBtn svg {
    width: 25px;
    height: 25px;
  }
}
@media screen and (min-width: 1280px) {
  .searchCityForm {
    gap: 18px;
  }

  .searchCityInput {
    font-size: 18px;
    padding: 16px 28px;
  }

  .searchCityError {
    top: 60px;
  }
  .searchCityBtn {
    gap: 10px;
    font-size: 18px;
    padding: 16px 24px;
  }

  .searchCityBtn svg {
    width: 25px;
    height: 25px;
  }
}
/* ================================ */
