.sortCitiesList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.sortCitiesItem {
  width: 100%;
}
.sortCitiesBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-secondary);
  padding: 6px 8px;
  background-color: var(--color-surface);
  border-radius: 12px;
  width: 100%;
  transition: all 250ms;
}
.sortCitiesBtn:hover {
  background-color: var(--color-border);
}
.sortCitiesBtnContent {
  display: flex;
  gap: 10px;
  align-items: center;
}
.sortCitiesBtnContent svg {
  width: 15px;
  height: 15px;

  stroke: var(--color-secondary);
}
.sortCitiesBtnText {
  font-size: 16px;
}
.sortCitiesBtnSvg {
  fill: var(--color-secondary);
  stroke: none;
  width: 18px;
  height: 18px;
}
.sortCitiesBtnSvgFill {
  width: 18px;
  height: 18px;
  fill: var(--color-secondary);
  stroke: var(--color-secondary);
}
.active {
  background-color: var(--color-primary);
  color: var(--color-surface);
}
/* ================================ */
@media screen and (min-width: 768px) {
  .sortCitiesList {
    gap: 15px;
  }
  .sortCitiesBtn {
    padding: 8px 10px;
  }

  .sortCitiesBtnContent {
    gap: 12px;
  }
  .sortCitiesBtnContent svg {
    width: 20px;
    height: 20px;
  }
  .sortCitiesBtnSvg {
    width: 20px;
    height: 20px;
  }
  .sortCitiesBtnSvgFill {
    width: 20px;
    height: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .sortCitiesBtnContent {
    gap: 12px;
  }
  .sortCitiesBtnContent svg {
    width: 25px;
    height: 25px;
  }
  .sortCitiesBtnText {
    font-size: 18px;
  }
  .sortCitiesBtnSvg {
    width: 20px;
    height: 20px;
  }
  .sortCitiesBtnSvgFill {
    width: 20px;
    height: 20px;
  }
}
/* ================================ */
