.detailsBackBtn {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  color: var(--color-surface);
  background-color: var(--color-primary);
  padding: 12px 18px;
  border-radius: 12px;
  font-weight: 600;
  margin-bottom: 20px;
  width: 120px;
  transition: all 250ms;
}
.detailsBackBtn span {
  color: var(--color-surface);
}
.detailsBackBtn svg {
  stroke: var(--color-surface);
  width: 25px;
  height: 25px;
}
.detailsBackBtn:hover svg {
  stroke: var(--color-accent);
}
.detailsBackBtn:hover {
  color: var(--color-accent);
  background-color: #ebedff;
}
.detailsBackBtn:hover span {
  color: var(--color-accent);
}
.forecastBtn {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  color: var(--color-surface);
  background-color: var(--color-primary);
  padding: 14px 20px;
  border-radius: 12px;
  font-weight: 600;
  margin-bottom: 20px;
  width: 150px;
  transition: all 250ms;
}
.forecastBtn span {
  font-size: 18px;
  color: var(--color-surface);
}
.forecastBtn svg {
  fill: var(--color-surface);
  width: 25px;
  height: 25px;
}
.forecastBtn:hover svg {
  fill: var(--color-accent);
}
.forecastBtn:hover {
  color: var(--color-accent);
  background-color: #ebedff;
}
.forecastBtn:hover span {
  color: var(--color-accent);
}
/* ================================ */
@media screen and (min-width: 1280px) {
  .detailsBackBtn {
    gap: 10px;
    font-size: 20px;
    padding: 14px 22px;
    margin-bottom: 25px;
    width: 150px;
  }

  .detailsBackBtn svg {
    width: 30px;
    height: 30px;
  }

  .forecastBtn {
    gap: 15px;
    font-size: 22px;
    padding: 16px 28px;
    margin-bottom: 25px;
    width: 200px;
  }
  .forecastBtn span {
    font-size: 22px;
  }
  .forecastBtn svg {
    width: 30px;
    height: 30px;
  }
}
/* ================================ */
