.cityDetails {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.cityDetailsHero {
  background-color: var(--color-surface);
  box-shadow: var(--shadow-card);
  border-radius: var(--radius-main);
  padding: 50px 20px;
  padding-bottom: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}
.heroMain {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.heroUp {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.heroMainTitle {
  font-size: 26px;
  font-weight: 600;
}
.heroMainTemp {
  font-size: 36px;
  font-weight: 800;
}
.heroMainDown {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.heroMainMaxMin {
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: var(--text-small);
  color: var(--color-secondary);
}
.heroMainMaxMinTemp {
  font-weight: 600;
}
.heroMainFeels {
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: var(--text-small);
  color: var(--color-secondary);
  padding: 4px 8px;
  border-radius: 100px;
  background-color: #d3e2f5;
}

.heroMainFeelsTemp {
  font-weight: 600;
}
.heroWeather {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.heroWeatherTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 10px;
}
.heroWeatherTitleText {
  font-size: 32px;
  font-weight: 400;
}
.heroWeatherTitleSvg {
  width: 70px;
  height: 60px;
}
.heroWeatherDesc {
  font-size: 16px;
  color: var(--color-secondary);
  align-self: end;
  padding: 4px 8px;
  border-radius: 100px;
  background-color: #d3e2f5;
}
.heroCoords {
  position: absolute;
  bottom: 10px;
  right: 22px;
  opacity: 0.15;
  color: var(--color-accent-warm);
  letter-spacing: 4px;
  pointer-events: none;
  font-size: 36px;
  font-weight: 100;
}
.cityDetailsList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.cityDetailsItem {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 15px;
  background-color: var(--color-surface);
  box-shadow: var(--shadow-card);
  border-radius: var(--radius-main);
}
.cityDetailsItemSvgCont {
  padding: 8px;
  background-color: #e6e6e6;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cityDetailsItemSvgCont svg {
  width: 20px;
  height: 20px;
}
.cityDetailsItemSvg {
  stroke: var(--color-accent);
  /* fill: var(--color-accent); */
}
.cityDetailsItemSvgHumid {
  fill: var(--color-accent);
}
.cityDetailsItemSvgPres {
  stroke: rgb(177, 75, 224);
  fill: rgb(177, 75, 224);
}
.cityDetailsItemSvgWind {
  stroke: var(--color-secondary);
}
.cityDetailsItemSvgSea {
  fill: var(--color-accent);
}
.cityDetailsItemSvgSun {
  stroke: var(--color-accent-warm);
}

.cityDetailsItemContent {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.cityDetailsItemTitle {
  font-size: var(--text-general);
  color: var(--color-secondary);
}
.cityDetailsItemText {
  font-weight: 600;
  font-size: 18px;
}
/* ================================ */
@media screen and (min-width: 768px) {
  .cityDetails {
    gap: 25px;
  }
  .cityDetailsHero {
    padding: 60px 30px;
    padding-bottom: 90px;
  }
  .heroMain {
    gap: 10px;
  }
  .heroUp {
    gap: 18px;
  }
  .heroMainTitle {
    font-size: 28px;
    font-weight: 600;
  }
  .heroMainTemp {
    font-size: 64px;
    /* letter-spacing: 2.04px; */
    font-weight: 800;
  }
  .heroMainDown {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .heroMainMaxMin {
    font-size: var(--text-general);
  }

  .heroMainFeels {
    gap: 8px;
    font-size: var(--text-general);
    padding: 6px 12px;
  }
  .heroWeather {
    display: flex;

    flex-direction: column;
    gap: 15px;
  }
  .heroWeatherTitle {
    gap: 18px;
    flex-direction: row;
    align-items: center;
  }
  .heroWeatherTitleText {
    font-size: 42px;
    font-weight: 400;
  }
  .heroWeatherTitleSvg {
    width: 100px;
    height: 100px;
  }
  .heroWeatherDesc {
    font-size: 20px;
    align-self: end;
    padding: 6px 12px;
    border-radius: 100px;
  }
  .heroCoords {
    font-size: 40px;
  }
  .cityDetailsList {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .cityDetailsItem {
    gap: 15px;
    padding: 20px;
  }
  .cityDetailsItemSvgCont {
    padding: 8px;
  }
  .cityDetailsItemSvgCont svg {
    width: 20px;
    height: 20px;
  }
  .cityDetailsItemContent {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .cityDetailsItemTitle {
    font-size: var(--text-big);
  }
  .cityDetailsItemText {
    font-size: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .cityDetails {
    gap: 30px;
  }
  .cityDetailsHero {
    padding: 70px 40px;
    padding-bottom: 100px;
  }
  .heroMain {
    gap: 12px;
  }
  .heroUp {
    gap: 20px;
  }
  .heroMainTitle {
    font-size: 32px;
  }
  .heroMainTemp {
    font-size: 72px;
  }
  .heroMainDown {
    gap: 18px;
  }
  .heroMainMaxMin {
    gap: 6px;

    font-size: var(--text-big);
  }

  .heroMainFeels {
    font-size: var(--text-big);

    padding: 6px 12px;
  }

  .heroWeather {
    gap: 20px;
  }
  .heroWeatherTitle {
    gap: 20px;
  }
  .heroWeatherTitleText {
    font-size: 64px;
  }
  .heroWeatherTitleSvg {
    width: 150px;
    height: 150px;
  }
  .heroWeatherDesc {
    font-size: 22px;

    padding: 8px 14px;
  }
  .heroCoords {
    font-size: 56px;
  }
  .cityDetailsList {
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
  }
  .cityDetailsItem {
    gap: 15px;
    padding: 20px;
  }
  .cityDetailsItemSvgCont {
    padding: 10px;
  }
  .cityDetailsItemSvgCont svg {
    width: 25px;
    height: 25px;
  }
  .cityDetailsItemContent {
    gap: 8px;
  }
  .cityDetailsItemTitle {
    font-size: var(--text-big);
  }
  .cityDetailsItemText {
    font-size: 20px;
  }
}
/* ================================ */
